
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Feed</title>
</head>
<body>
    <header class="header"></header>
    <main class="mainfeed">
        <section class="left">
            <div class="new_message">
                <textarea rows="4" class="new_message_input" type="text" maxlength="140" placeholder="Stop the count!" id="NewMessageInput"></textarea>
                <div class="new_message_footer">
                    <button class="button add_photo" id="AddPhoto"></button>
                    <div class="new_message_footer_right">
                        <div class="countdown" id="CountVisual"> <p class="counttext" id="Count">0</p></div>
                        <button class="button send_twit" id="SendTwit" onclick="send">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="post">
                    <div class="post_avatar"></div>
                    <div class="post_main">
                        <div class="post_main_header">
                            <div class="post_main_header_name">Elon Mask</div>
                            <div class="post_main_header_nickname">@elonmask</div>
                            <div class="post_main_header_time">2 часа назад</div>
                        </div>
                        <div class="post_main_message">Пробежал десятку по набережной. Снег идёт, тихо, светло.
                            Всё будет хорошо.</div>
                        <div class="post_main_buttons">
                            <button class="button button_reactions reply"></button>
                            <button class="button button_reactions favs"></button>
                            <button class="button button_reactions sharings"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="right">
            <div class="profile">
                <div class="profile_circle"></div>
            </div>
            <div class="trends"></div>
            <div class="who_to_follow"></div>
        </section>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/javascripts/page.js"></script>
</body>
</html>