* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
body {
    width: 1280px;
    height: 905px;
    background: #E5E5E5;
}
.button {
    cursor: pointer;
}
.header {
    height: 64px;
    background: #D7D7D7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.mainfeed {
    margin-top: 32px;
    margin-left: 180px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
}
.left {
 width: 632px;
}
.new_message {
    height: 196px;
    background: #FFFFFF;
    border: 3px solid #0057FF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new_message_input {
    height: 102px;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #1D1E22;
}
.new_message_input:active {
    outline: none;
}
.new_message_input:focus {
    outline: none;
}
/* .new_message_input:focus-visible {
    outline: none;
} */
.new_message_footer {
    margin-left: 16px;
    margin-bottom: 16px;
    width: 600px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}
.new_message_footer_right {
    display: flex;
}
.add_photo {
    width: 61px;
    height: 52px;
    background: #D7D7D7;
    border: none;
    border-radius: 10px;
}
.send_twit {
    width: 220px;
    height: 52px;
    background: #0057FF;
    border: 1px solid #0057FF;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.feed {
    margin-top: 16px;
    height: 561px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.right {
    width: 312px;
}
.profile {
    height: 174px;
    background: #D7D7D7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.profile_circle {
    position: absolute;
    margin-top: -16px;
    margin-left: 16px;
    width: 84px;
    height: 84px;
    background: #D7D7D7;
    border-radius: 48px;
}
.trends {
    margin-top: 15px;
    height: 296px;
    background: #D7D7D7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.who_to_follow{
    margin-top: 16px;
    height: 276px;
    background: #D7D7D7;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.countdown {
    margin-right: 16px;
    width: 52px;
    height: 52px; 
    border: 3px solid #DFDFDF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.counttext {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: #0057FF;
}

.post {
    width: 632px;
    display: flex;
    align-items: center;
}
.post_avatar {
    width: 64px;
    height: 64px;
    margin: 16px;
    border-radius: 50%;
    background-image: url('../images/Feed/image\ 5.png');
}

.post_main {
    margin-top: 16px;
    width: 520px;
    height: 98px;
    display: flex;
    flex-direction: column;
}

.post_main_header {
    height: 24px;
    display: flex;
}

.post_main_header_name {
    width: 77px;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: #1D1E22;
}

.post_main_header_nickname {
    margin-left: 16px;
    width: 152.67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ABACB1;
}

.post_main_header_time {
    margin-left: 148.33px;
    width: 126px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #ABACB1;
}

.post_main_message{
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D1E22;
}

.post_main_buttons{
    margin-top: 8px;
    width: 269px;
    height: 24px;
    display: flex;
   justify-content: space-between;
}
.button_reactions {
    width: 47px;
}